    <div class="container my-5">
        <!-- Create New Post -->
        <div class="row mb-4">
            <div class="col-md-6 col-lg-8 mx-auto">
                <div class="card shadow-sm">
                    <div class="card-body">
                        <h5 class="card-title mb-2">Create New Post</h5>
                        <form enctype="multipart/form-data" accept-charset="UTF-8" action="/post/create" method="post">
                            <div class="form-group">
                                <textarea name="post_text" class="form-control mb-3" id="postTextarea" rows="3" placeholder="What's happening?"></textarea>
                                <input name="image" class="form-control mb-2" type="file" id="image">
                            </div>
                            <button type="submit" class="btn btn-primary">Create</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!-- Timeline -->
        <div class="row">
            <div class="col-md-6 col-lg-8 mx-auto">
                <% @posts.each do |post| %>
                    <div class="card mb-4 shadow-sm border-1">
                        <div class="card-header bg-primary text-white">
                            <p class="mb-0">
                                <i class="bi bi-person-circle me-2"></i>
                                <%= post.user.username %> created a new post
                            </p>
                        </div>
                        <% if post.image.attached? %>
                            <img src="<%= url_for(post.image) %>" class="card-imm" alt="Post Image" style="max-height: 700px; object-fit: cover;">
                        <% end %>
                        <div class="card-body">
                            <p class="card-text text-black"><%= post.post_text %></p>
                        </div>
                        <div class="card-footer d-flex align-items-center px-3 py-2 border-top">
                            <!-- Like Button -->
                            <div class="d-flex align-items-center">
                                <form action="/post/like" method="post">
                                    <input type="hidden" name="post_id" value="<%= post.id %>">
                                    <% if post.likes.exists?(user_id: current_user.id) %>
                                        <button type="submit" class="btn p-0 border-0 bg-transparent d-flex align-items-center">
                                        <i class="fa-solid fs-5 fa-heart me-2" style="color: #ff4747;"></i>
                                        </button>
                                    <% else %>
                                        <button type="submit" class="btn p-0 border-0 bg-transparent d-flex align-items-center">
                                        <i class="bi bi-heart fs-5 text-gray me-2"></i>
                                        </button>
                                    <% end %>
                                </form>

                            </div>                            
                        </div>
                    </div>
                <% end %>
            </div>
        </div>

    </div>
